<div class="container">
    <div class="panel">
        <div class="row">
            <div class="col-md-6">
                <h2>Inputs</h2>
                Start Date: <input type="date" ng-model="data.startDate" class="form-control" ng-change="recalcDate()"/><br/>
                <table class="table table-bordered">
                    <thead>
                        <th>Action</th>
                        <th>Feature</th>
                        <th>Ten</th>
                        <th>Fifty</th>
                        <th>Ninety</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data.items track by $index">
                            <td>
                                <i ng-if="item.editing===false" class="far fa-edit fa-lg" ng-click="edit($index)"></i>
                                <i ng-if="item.editing===true" style="color:#00FF00;" class="fas fa-check fa-lg" ng-click="update($index)"></i>
                                <i ng-if="item.editing===false" class="far fa-trash-alt fa-lg" style="color:#FF0000  ;" ng-click="remove($index)"></i>
                            </td>
                            <td>
                                <span ng-if="item.editing===false">{{item.name}}</span>
                                <span ng-if="item.editing===true"><input type="text" class="form-control" ng-model="item.name"/></span>
                            </td>

                            <td>
                                <span ng-if="item.editing===false">{{item.ten}}</span>
                                <span ng-if="item.editing===true"><input type="date" class="form-control" ng-model="item.tenDate"/></span>
                            </td>
                            <td>
                                <span ng-if="item.editing===false">{{item.fifty}}</span>
                                <span ng-if="item.editing===true"><input type="date" class="form-control" ng-model="item.fiftyDate"/></span>
                            </td>
                            <td>
                                <span ng-if="item.editing===false">{{item.ninety}}</span>
                                <span ng-if="item.editing===true"><input type="date" class="form-control" ng-model="item.ninetyDate"/></span>
                            </td>
                        </div>
                    </tbody>
                </table>
                <button class="btn btn-primary" ng-click="addRow()">Add</button><br/>


            </div>
            <div class="col-md-6">
                <div id="pdf" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
                <div id="cdf" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
            </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <hr/>
                <h2>Test Simulation</h2>
                This is the result of one round of simulation.<br/>

                <button class="btn btn-primary" ng-click="simulateOnce()">Simulate once</button>
                <table class="table table-bordered">
                    <thead>
                        <th>Customer</th><th ng-repeat="month in months">{{month}}</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="activation in oneSimResults.activations">
                            <td>{{activation.name}}</td>
                            <td ng-repeat="month in months track by $index">
                                <span ng-if="$index === activation.month">{{formatMoney(activation.revenue)}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Month Totals</td>
                            <td ng-repeat="month in months track by $index">{{formatMoney(oneSimResults.eachMonth[$index])}}</td>
                        </tr>
                    </tbody>
                </table>
                Total: {{formatMoney(oneSimResults.total)}}
            </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr/>
            <h2>Simulation Results</h2>
            Number of Runs: <select ng-model="numRuns"><option value="1000000">1,000,000</option><option value="100000">100,000</option><option value="10000">10,0000</option><option value="1000">1,000</option><option value="100">100</option></select>
            <button ng-show="simulationFinished===true" class="btn btn-primary" ng-click="simulate()">Simulate</button>
            <i ng-show="simulationFinished===false" class="fas fa-spinner fa-spin"></i>&nbsp;<button class="btn btn-primary" ng-click="downloadCSV()">Download</button>
            <h4>Simulation results for {{numRuns}} runs</h4>
            <table class="table table-striped table-bordered">
                <thead>
                    <th>Percentile</th><th ng-repeat="month in months">{{month}}</th><th>Total</th>
                </thead>
                <tbody>
                    <tr>
                        <td>10% chance of being below</td>
                        <td ng-repeat="monthBucket in monthBuckets track by $index" ng-click="expand10($index)">
                            {{formatMoney(monthBucket.ten.monthRevenue)}}
                            <span ng-if="monthBucket.ten.expanded===true">
                                <br/>
                                    <p ng-repeat="detail in monthBucket.ten.monthDetails">{{detail.name}}: {{formatMoney(detail.revenue)}}</p>
                            </span>
                        </td>
                        <td ng-click="expand10total()">{{formatMoney(totalResult.ten.total)}}
                            <span ng-if="totalResult.ten.expanded===true">
                                <br/>
                                    <p ng-repeat="detail in totalResult.ten.totalDetails">{{detail.name}}: {{formatMoney(detail.revenue)}} ({{detail.month}})</p>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>50% chance above or below</td>
                        <td ng-repeat="monthBucket in monthBuckets track by $index" ng-click="expand50($index)">{{formatMoney(monthBucket.fifty.monthRevenue)}}
                            <span ng-if="monthBucket.fifty.expanded===true">
                                <br/>
                                    <p ng-repeat="detail in monthBucket.fifty.monthDetails">{{detail.name}}: {{formatMoney(detail.revenue)}}</p>
                            </span>
                        </td>
                        <td ng-click="expand50total()">{{formatMoney(totalResult.fifty.total)}}
                            <span ng-if="totalResult.fifty.expanded===true">
                                <br/>
                                    <p ng-repeat="detail in totalResult.fifty.totalDetails">{{detail.name}}: {{formatMoney(detail.revenue)}} ({{detail.month}})</p>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>90% chance below (10% chance above)</td>
                        <td ng-repeat="monthBucket in monthBuckets track by $index" ng-click="expand90($index)">{{formatMoney(monthBucket.ninety.monthRevenue)}}
                            <span ng-if="monthBucket.ninety.expanded===true">
                                <br/>
                                    <p ng-repeat="detail in monthBucket.ninety.monthDetails">{{detail.name}}: {{formatMoney(detail.revenue)}}</p>
                            </span>
                        </td>
                        <td ng-click="expand90total()">{{formatMoney(totalResult.ninety.total)}}
                            <span ng-if="totalResult.ninety.expanded===true">
                                <br/>
                                    <p ng-repeat="detail in totalResult.ninety.totalDetails">{{detail.name}}: {{formatMoney(detail.revenue)}} ({{detail.month}})</p>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p/>
            As the total column contents (seen when you click on any cell in that column) are hard to intuitively interpret, below is a table that lays this column out.
            <table class="table table-striped table-bordered">
                <thead>
                    <th>Scenario for Percentile</th><th ng-repeat="month in months">{{month}}</th><th>Total</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Customers in 10% scenario</td>
                        <td ng-repeat="month in months">
                            <span ng-repeat="detail in totalResult.ten.totalDetails">
                                <span ng-if="detail.month===month">{{detail.name}}</span>
                            </span>
                        </td>
                        <td>{{formatMoney(totalResult.ten.total)}}</td>
                    </tr>
                    <tr>
                        <td>Customers in 50% scenario</td>
                        <td ng-repeat="month in months">
                            <span ng-repeat="detail in totalResult.fifty.totalDetails">
                                <span ng-if="detail.month===month">{{detail.name}}</span>
                            </span>
                        </td>
                        <td>{{formatMoney(totalResult.fifty.total)}}</td>
                    </tr>
                    <tr>
                        <td>Customers in 90% scenario</td>
                        <td ng-repeat="month in months">
                            <span ng-repeat="detail in totalResult.ninety.totalDetails">
                                <span ng-if="detail.month===month">{{detail.name}}</span>
                            </span>
                        </td>
                        <td>{{formatMoney(totalResult.ninety.total)}}</td>
                    </tr>
                    <tr>
                        <td>Revenue in 10% scenario</td>
                        <td>{{formatMoney(totalResult.ten.monthlyTotals[0])}}</td>
                        <td>{{formatMoney(totalResult.ten.monthlyTotals[1])}}</td>
                        <td>{{formatMoney(totalResult.ten.monthlyTotals[2])}}</td>
                        <td>{{formatMoney(totalResult.ten.monthlyTotals[3])}}</td>
                        <td>{{formatMoney(totalResult.ten.monthlyTotals[4])}}</td>
                        <td>{{formatMoney(totalResult.ten.monthlyTotals[5])}}</td>
                        <td>{{formatMoney(totalResult.ten.monthlyTotals[6])}}</td>
                        <td>{{formatMoney(totalResult.ten.monthlyTotals[7])}}</td>
                        <td>{{formatMoney(totalResult.ten.monthlyTotals[8])}}</td>
                        <td>{{formatMoney(totalResult.ten.monthlyTotals[9])}}</td>
                        <td>{{formatMoney(totalResult.ten.monthlyTotals[10])}}</td>
                        <td>{{formatMoney(totalResult.ten.monthlyTotals[11])}}</td>
                        <td>{{formatMoney(totalResult.ten.total)}}</td>
                    </tr>
                    <tr>
                        <td>Revenue in 50% scenario</td>
                        <td>{{formatMoney(totalResult.fifty.monthlyTotals[0])}}</td>
                        <td>{{formatMoney(totalResult.fifty.monthlyTotals[1])}}</td>
                        <td>{{formatMoney(totalResult.fifty.monthlyTotals[2])}}</td>
                        <td>{{formatMoney(totalResult.fifty.monthlyTotals[3])}}</td>
                        <td>{{formatMoney(totalResult.fifty.monthlyTotals[4])}}</td>
                        <td>{{formatMoney(totalResult.fifty.monthlyTotals[5])}}</td>
                        <td>{{formatMoney(totalResult.fifty.monthlyTotals[6])}}</td>
                        <td>{{formatMoney(totalResult.fifty.monthlyTotals[7])}}</td>
                        <td>{{formatMoney(totalResult.fifty.monthlyTotals[8])}}</td>
                        <td>{{formatMoney(totalResult.fifty.monthlyTotals[9])}}</td>
                        <td>{{formatMoney(totalResult.fifty.monthlyTotals[10])}}</td>
                        <td>{{formatMoney(totalResult.fifty.monthlyTotals[11])}}</td>
                        <td>{{formatMoney(totalResult.fifty.total)}}</td>
                    </tr>
                     <tr>
                         <td>Revenue in 90% scenario</td>
                         <td>{{formatMoney(totalResult.ninety.monthlyTotals[0])}}</td>
                         <td>{{formatMoney(totalResult.ninety.monthlyTotals[1])}}</td>
                         <td>{{formatMoney(totalResult.ninety.monthlyTotals[2])}}</td>
                         <td>{{formatMoney(totalResult.ninety.monthlyTotals[3])}}</td>
                         <td>{{formatMoney(totalResult.ninety.monthlyTotals[4])}}</td>
                         <td>{{formatMoney(totalResult.ninety.monthlyTotals[5])}}</td>
                         <td>{{formatMoney(totalResult.ninety.monthlyTotals[6])}}</td>
                         <td>{{formatMoney(totalResult.ninety.monthlyTotals[7])}}</td>
                         <td>{{formatMoney(totalResult.ninety.monthlyTotals[8])}}</td>
                         <td>{{formatMoney(totalResult.ninety.monthlyTotals[9])}}</td>
                         <td>{{formatMoney(totalResult.ninety.monthlyTotals[10])}}</td>
                         <td>{{formatMoney(totalResult.ninety.monthlyTotals[11])}}</td>
                         <td>{{formatMoney(totalResult.ninety.total)}}</td>
                    </tr>
                </tbody>

        </div>
    </div>
</div>




