<div class="container">
    <div class="panel">
        <div class="row">
            <div class="col-md-6">
                <h2>Inputs</h2>
                Start Date: <input type="date" ng-model="data.startDate" class="form-control" ng-change="recalcDate()"/><br/>
                <table class="table table-bordered">
                    <thead>
                        <th>Action</th>
                        <th>Feature</th>
                        <th>Ten</th>
                        <th>Fifty</th>
                        <th>Ninety</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data.items track by $index">
                            <td>
                                <i ng-if="item.editing===false" class="far fa-edit fa-lg" ng-click="edit($index)"></i>
                                <i ng-if="item.editing===true" style="color:#00FF00;" class="fas fa-check fa-lg" ng-click="update($index)"></i>
                                <i ng-if="item.editing===false" class="far fa-trash-alt fa-lg" style="color:#FF0000  ;" ng-click="remove($index)"></i>
                            </td>
                            <td>
                                <span ng-if="item.editing===false">{{item.name}}</span>
                                <span ng-if="item.editing===true"><input type="text" class="form-control" ng-model="item.name"/></span>
                            </td>

                            <td>
                                <span ng-if="item.editing===false">{{item.ten}}</span>
                                <span ng-if="item.editing===true"><input type="text" class="form-control" ng-model="item.ten"/></span>
                            </td>
                            <td>
                                <span ng-if="item.editing===false">{{item.fifty}}</span>
                                <span ng-if="item.editing===true"><input type="text" class="form-control" ng-model="item.fifty"/></span>
                            </td>
                            <td>
                                <span ng-if="item.editing===false">{{item.ninety}}</span>
                                <span ng-if="item.editing===true"><input type="text" class="form-control" ng-model="item.ninety"/></span>
                            </td>
                        </div>
                    </tbody>
                </table>
                <button class="btn btn-primary" ng-click="addRow()">Add</button> <button ng-if="showPublish===false" type="button" class="btn btn-primary" ng-click="togglePublish()">Save</button><button ng-if="showPublish===true" type="button" class="btn btn-primary" ng-click="togglePublish()">Collapse</button><br/>
                <span ng-if="showPublish===true">
                        This app cannot make any changes to the file in which it lives. However, you can make those changes easily in one of two ways:<br/>
                        <ul>
                            <li><b>Quick and dirty:</b> Simply search for "var setupData" in curve.html and replace that object's definition with the code listed in the box below. Save and reload in browser.</li>
                            <li><b>Rebuild file:</b> Replace all the contents of app/data.js with the code listed in the box below and execute 'npm run build' to get the new curve.html file in the build folder</li>
                            </li>
                        </ul>
                        <pre class="overflow-auto">var setupData = {{data}};</pre>
                        <button ng-if="notCopied===true" class="btn btn-primary btn-small" ng-click="copyToClipboard()" title="Copy to Clipboard"><i class="fas fa-copy"></i></button>
                        <span ng-if="notCopied===false">Copied to clipboard!</span>
                        <hr/>
                    </span>
            </div>
            <div class="col-md-6">
               <b>Total Duration</b><br/>
                <table class="table table-striped">
                    <thead>
                        <th>Description</th><th>Low</th><th>Med</th><th>High</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Days</td><td>{{sum.ten.toFixed(2)}}</td><td>{{sum.fifty.toFixed(2)}}</td><td>{{sum.ninety.toFixed(2)}}</td>
                        </tr>
                        <tr>
                            <td>Date</td><td>{{sum.tenDate}}</td><td>{{sum.fiftyDate}}</td><td>{{sum.ninetyDate}}</td>
                        </tr>
                    </tbody>
                </table>
                <div id="sum" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
            </div>
        </div>

</div>

<div id="pdf" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
<div id="cdf" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>

